-
    const id = 'root'

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Messenger
        script(src="src/index.js" type="module")
    body
        div(id=id)
