{{#> loginLayout }}
    <form class="form form_block login-layout__form">
        <h1 class="form__title form__title_subtitled">Welcome back!</h1>
        <p class="form__subtitle">Login to continue</p>
        <div class="form__items">
            <div class="form__item">
                {{> defaultInput label='Login' placeholder='Login' name='login'}}
            </div>
            <div class="form__item">
                {{> defaultInput type='password' label='Password' placeholder='Password' name='password'}}
            </div>
        </div>
        <div class="form__submit">
            {{> defaultButton addClasses='form__submit-btn' label='Sign up'}}
        </div>
        <div class="form__bottom">
            {{> routerLink pageName='"registration"' text='Sign Up'}}
        </div>
    </form>
{{/loginLayout}}