{{#> settingsLayout}}
    <section class="settings">
        <div class="settings__photo photo-input">
            <img class="photo-input__image" src="" alt="">
            <label class="photo-input__file">
                <span class="photo-input__text">Change photo</span>
                <input type="file" class="photo-input__input" accept="image/*">
            </label>
        </div>
        <h3 class="settings__name">Ivan Ivanov</h3>



    </section>
{{/settingsLayout}}