{{#> modalLayout}}
    <form class="form">
        <h3 class="form__title">Password change</h3>
        <p class="form__text">Enter the old password and then the new password</p>
        <div class="form__items">
            <div class="form__item">
                {{> defaultInput type='password' label='Old password' placeholder='Old password' name='oldPassword'}}
            </div>
            <div class="form__item">
                {{> defaultInput type='password' label='New password' placeholder='New password' name='newPassword'}}
            </div>
        </div>
        <div class="form__submit">
            {{> defaultButton addClasses='form__submit-btn' label='Confirm'}}
            {{> defaultButton action='removeModal()' styleClasses='btn_trans' addClasses='form__submit-btn' label='Cancel'}}
        </div>
    </form>
{{/modalLayout}}
