<h3 class="form__title">Password change</h3>
<p class="form__text">Enter the old password and then the new password</p>
<div class="form__items">
	<div class="form__item">
		{{{ oldPasswordInput }}}
	</div>
	<div class="form__item">
		{{{ newPasswordInput }}}
	</div>
</div>
<div class="form__submit">
	{{{ confirmButton }}}
	{{{ cancelButton }}}
</div>
