<div class="review-nav__icon"></div>
<div class="review-nav__tooltip">
	<ul class="review-nav__list">
		<li onclick="changePage('authPage')" class="review-nav__item link link_base">Авторизация</li>
		<li onclick="changePage('registrationPage')" class="review-nav__item link link_base">Регистрация</li>
		<li onclick="changePage('chatsPage')" class="review-nav__item link link_base">Чаты</li>
		<li onclick="changePage('dialogPage')" class="review-nav__item link link_base">Чаты(Диалог)</li>
		<li onclick="changePage('settingsPage')" class="review-nav__item link link_base">Настройки</li>
		<li onclick="changePage('settingsEditPage')" class="review-nav__item link link_base">Настройки(Редактирование)</li>
		<li onclick="changePage('notFoundPage')" class="review-nav__item link link_base">404</li>
		<li onclick="changePage('serviceErrorPage')" class="review-nav__item link link_base">503</li>
	</ul>
</div>
