.link
	display: block

	font-weight: 500
	font-size: 16px
	line-height: 1.4

	text-decoration: none
	cursor: pointer
	transition: color .3s ease

	+while-mob
		font-size: 14px

	&:active
		outline: none

	&:focus
		outline: none

	&_base
		color: $black

		&:hover
			color: $blue

	&_trans
		padding: 8px 32px

		line-height: 1.125
		color: $white

		background-color: $glass
		border-radius: 16px

		&:hover
			color: $black

	&_back
		display: flex
		align-items: center
		color: $black

		&::before
			content: ""
			display: block
			flex-shrink: 0
			width: 16px
			height: 16px
			margin-right: 8px

			background-image: url("data:image/svg+xml,%0A%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.43996 0.349976L-3.91006e-05 5.78998V6.20998L5.43996 11.65L6.69996 10.41L3.13996 6.84998L4.51996 6.88998L10.96 6.90998V5.08998H4.51996L3.15996 5.12998L6.69996 1.58998L5.43996 0.349976Z' fill='%23354753'/%3E%3C/svg%3E%0A")
			background-position: center
			background-repeat: no-repeat
			background-size: contain

			transition: background-image .3s ease

		&:hover
			color: $blue

			&::before
				background-image: url("data:image/svg+xml,%0A%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.43996 0.349976L-3.91006e-05 5.78998V6.20998L5.43996 11.65L6.69996 10.41L3.13996 6.84998L4.51996 6.88998L10.96 6.90998V5.08998H4.51996L3.15996 5.12998L6.69996 1.58998L5.43996 0.349976Z' fill='%236F91B4'/%3E%3C/svg%3E%0A")

	&_red
		color: $red

		transition: opacity .3s ease

		&:hover
			opacity: .75
