<article class="login-layout">
    <div class="login-layout__left">
        {{> @partial-block }}
    </div>
    <div class="login-layout__right">
        <div class="login-layout__bg banner">
            <img class="banner__image" src="./img/login-banner.jpg" alt="">
        </div>
        <div class="login-layout__logo logo">
            <img class="logo__image" src="./img/svg/logo.svg" alt="">
        </div>
    </div>
</article>