<section class="modal">
    <div class="modal__body">
        <button onclick="removeModal()" class="modal__close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.46585 8.01363L15.6959 1.78336C16.1014 1.3781 16.1014 0.722865 15.6959 0.317612C15.2907 -0.0876414 14.6354 -0.0876414 14.2302 0.317612L7.99992 6.54788L1.76983 0.317612C1.36439 -0.0876414 0.709336 -0.0876414 0.304083 0.317612C-0.101361 0.722865 -0.101361 1.3781 0.304083 1.78336L6.53417 8.01363L0.304083 14.2439C-0.101361 14.6492 -0.101361 15.3044 0.304083 15.7096C0.506045 15.9118 0.771595 16.0133 1.03696 16.0133C1.30232 16.0133 1.56768 15.9118 1.76983 15.7096L7.99992 9.47937L14.2302 15.7096C14.4323 15.9118 14.6977 16.0133 14.9631 16.0133C15.2284 16.0133 15.4938 15.9118 15.6959 15.7096C16.1014 15.3044 16.1014 14.6492 15.6959 14.2439L9.46585 8.01363Z" fill="#354753"/>
            </svg>
        </button>
        {{> @partial-block }}
    </div>
</section>
