<div class="page-error__bg">
	<img class="page-error__bg-image" src="./img/error-banner.jpg" alt="Sunset in the mountains">
</div>
<div class="wrapper page-error__wrapper">
	<div class="page-error__top">
		<a href="#"  class="page-error__logo logo">
			<img class="logo__image" src="./img/svg/logo.svg" alt="P-chat">
		</a>
		{{{ reviewNav }}}
	</div>

	{{{ component }}}

</div>
