<h3 class="form__title">Create chat</h3>
<p class="form__text">Come up with a name for your new chat room</p>
<div class="form__items">
	<div class="form__item">
		{{{ titleInput }}}
	</div>
</div>
<div class="form__submit">
	{{{ confirmButton }}}
	{{{ cancelButton }}}
</div>
