<div class="chats-layout__left">
	{{{ chatsList }}}
</div>
<div class="chats-layout__right">
	<div class="chats-layout__bg banner">
		<img class="banner__image" src="./img/chats-bg.png" alt="mountains">
	</div>
	{{#if dialog}}
		{{{ dialog }}}
	{{else}}
		<span class="chats-layout__notion">Select a chat to start messaging</span>
	{{/if}}
</div>
