<h1 class="form__title form__title_subtitled">Welcome back!</h1>
<p class="form__subtitle">Login to continue</p>
<div class="form__items">
	<div class="form__item">
		{{{ loginInput }}}
	</div>
	<div class="form__item">
		{{{ passwordInput }}}
	</div>
</div>
<div class="form__submit">
	{{{ submitButton }}}
</div>
<div class="form__bottom">
	{{{ registrationLink }}}
</div>
