<div class="{{ addClasses }} review-nav">
    <div class="review-nav__icon"></div>
    <div class="review-nav__tooltip">
        <ul class="review-nav__list">
            <li onclick="renderPage('auth')" class="review-nav__item link link_base">Авторизация</li>
            <li onclick="renderPage('registration')" class="review-nav__item link link_base">Регистрация</li>
            <li onclick="renderPage('chats')" class="review-nav__item link link_base">Чат(Заглушка)</li>
            <li onclick="renderPage('dialog')" class="review-nav__item link link_base">Чат(Диалог)</li>
            <li onclick="renderPage('settings')" class="review-nav__item link link_base">Настройки</li>
            <li onclick="renderPage('edit')" class="review-nav__item link link_base">Настройки(Редактирование)</li>
            <li onclick="renderPage('404')" class="review-nav__item link link_base">404</li>
            <li onclick="renderPage('503')" class="review-nav__item link link_base">503</li>
        </ul>
    </div>
</div>