// - COLORS
$white: #fff
$black: #354753
$blue: #6f91b4
$red: #e36a5f
$orange: #f5e7c9
$orange-dark: #d1b377
$pastel: #efeeec
$backdrop: rgb(53 71 83 / 40%)
$glass: rgb(239 238 236 / 25%)

// - FONTS
$main-font: "Montserrat", "Arial", sans-serif
$font-size: 16px
